.display {
    display: grid;
    grid-template-rows:    repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
