body {
    overflow-y: scroll;
}

#root {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #656565;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #525252;
}

.msg {
    white-space: pre-wrap;
    padding: 2px 0 2px 5px;
}

.bold-unread-message-light {
    font-weight: bold !important;
    color: white !important;
}

.bold-unread-message-dark {
    font-weight: bold !important;
    color: black !important;
}

.hover-msg-light:hover {
    background-color: cornflowerblue;
}

.hover-msg-dark:hover {
    background-color: #262626;
}

.selected-group-light {
    background-color: cornflowerblue !important;
}

.selected-group-dark {
    background-color: #262626 !important;
}

.group-subtitle-color {
    color: #787878
}

/************OVERRIDE MATERIAL UI STYLES******************************************************************************/

.MuiButton-root {
    color: inherit !important;
}

.MuiFormControl-marginNormal {
    margin: 0 !important;
}

/************ OVERRIDE ******************************************************************************/
.lnk {
    text-decoration: none;
}

.clrcstm {
    color: inherit;
    font-weight: inherit;
}

/************ DARK & LIGHT MODE ******************************************************************************/
.dark {
    color: white;
    background-color: #393939;
}

.light {
    color: black;
    background-color: #ffffff;
    /*background-color: #A9A9A9*/
}

.jsLink {
    color: white;
}
