body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
}

.msg {
    white-space: pre-wrap;
    padding: 2px 0 2px 5px;
}

.bold-unread-message-light {
    font-weight: bold !important;
    color: white !important;
}

.bold-unread-message-dark {
    font-weight: bold !important;
    color: black !important;
}

.hover-msg-light:hover {
    background-color: #dce9ff !important;
}

.hover-msg-dark:hover {
    background-color: #262626;
}

.selected-group-light {
    background-color: #dce9ff !important;
}

.selected-group-dark {
    background-color: #262626 !important;
}

.group-subtitle-color {
    color: #787878
}

.lnk {
    text-decoration: none;
}

.mnu {
    display: flex;
}

.clrcstm {
    color: inherit;
    font-weight: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark {
    color: white;
    background-color: #393939;
}

.light {
    color: black;
    background-color: #ffffff;
    /*background-color: #A9A9A9*/
}

.jsLink {
    color: white;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #c4c4c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #656565;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #525252;
}


